.fauser{
    color:black;
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 30px;
    
}
.right{
    color:black;

}
h1{
    font-weight: 300;
    color: black;
}
 .hum{
    margin-left: 70px;
    text-align: justify;
}

.sec-about{
    background-color: white;
    margin: 20px 25px;
    box-shadow: 0px 2px 0.2rem grey;
}
.sec-exp{
    background-color: white;
    text-align: justify;
    margin: 10px 25px;
    box-shadow: 0px 2px 0.2rem grey;
}

.sec-edu,.sec-achiev,.sec-hobbies{
    background-color: white;
    text-align: justify;
    margin: 10px 25px;
    width: 100%;
    box-shadow: 0px 2px 0.2rem grey;
}
hr{
    width: 90%;
}
.fauser1{
    color:rgb(112, 151, 224);
    font-size: 2.2em;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 40px;
}
.fauser2{
    color:rgb(112, 151, 224);
    font-size: 2.2em;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
}
.fauser3{
    color:rgb(112, 151, 224);
    font-size: 2.2em;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 15px;
}
h5{
    margin-left: 40px;
}

.alink{
    margin-left: 70px;
    padding-bottom: 70px;
}
.alink:hover{
    text-decoration: none;
}
/* end premier partie */
.persona{
    border-radius: 60%;
    margin-left: 80px;
    margin-top: 20px;
}
.centre{
    margin-left: 40px;
    color: white;
}
.icons{
    color:white;
    font-size: 2.2em;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 30px;
}
.h6,.p{
    color: white;
}
.span,.p{
    margin-left: 67px;
}
.facircle{
    color: orange;
    padding-left: 250px;
    font-size: 2em;
    
}
.p2{
    color: white;
    margin-top: 7px;
    padding-top: 5px;
    margin-left: 50px;
    margin-bottom: 10px;
}
